<!DOCTYPE html>

    <form action="./<%=element._id%>" method="post">
        <p>
            <label for="name">Id: </label>
            <input type="text" id="id" name="id" value="<%=element.id%>">
        </p>

        <p>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" value="<%=element.name%>">
        </p>

        <p>
            <label for="name">Birthdate: </label>
            <input type="text" id="birthdate" name="birthdate" value="<%=element.birthdate%>">
        </p>

        <p>
            <label for="name">Nationality: </label>
            <input type="text" id="nationality" name="nationality" value="<%=element.nationality%>">
        </p>

        <p>
            <label for="name">Team id: </label>
            <input type="text" id="teamId" name="teamId" value="<%=element.teamId%>">
        </p>

        <p>
            <label for="name">Position: </label>
            <input type="text" id="position" name="position" value="<%=element.position%>">
        </p>

        <p>
            <label for="name">Number: </label>
            <input type="text" id="number" name="number" value="<%=element.number%>">
        </p>

        <p>
            <label for="name">League id: </label>
            <input type="text" id="leagueId" name="leagueId" value="<%=element.leagueId%>">
        </p>

        <input type="submit" class="form-submit" value="Modificar" style="width:100px; height:30px">
    </form>

</html>